@import url('../../style.css');



@media screen and(max-width: 768px) {

    .main-product-teaser {
        width: 100%;
        height: auto;
        background: #EEF3F4 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 3% 10%;
    }

    .shop-all-products,
    .product-category,
    .product-tag {

        display: none;

    }

    .products {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .product-details {
            margin: 5% 0px;
            width: 251px;
            height: 346px;
            opacity: 1;

            .img-div {
                width: 100%;
                height: 65%;
                text-align: center;
                background: var(--white-ffffff);

                img {
                    width: 65%;
                    //height: 100%;
                }
            }


        }

        .product-title {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--rangitoto-2e2e22);
            text-align: left;
            opacity: 1;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .product-description {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/16px var(--unnamed-font-family-proxima-nova);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--rangitoto-2e2e22);
            text-align: left;
            opacity: 1;
        }

        .product-price {
            font: var(--unnamed-font-style-normal) normal medium 12px/15px var(--unnamed-font-family-proxima-nova);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--rangitoto-2e2e22);
            text-align: left;
            opacity: 1;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .add-cart-button {
            width: 100%;
            height: 40px;
            border: 1px solid var(--oxford-blue-354e57);
            border: 1px solid #354E57;
            text-align: center;
            opacity: 1;
            cursor: pointer;

            .cart-text {
                margin: 10px;
                font: var(--unnamed-font-style-normal) normal medium 12px/15px var(--unnamed-font-family-proxima-nova);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--rangitoto-2e2e22);
            }

            &:hover {
                background-color: var(--white-ffffff);

                .cart-icon::after {
                    font-family: FontAwesome;
                    content: "\f07a";
                    font-size: 15px;
                    padding-left: 10px;
                    animation: fadeInRight 1s ease-out;

                    @keyframes fadeInRight {
                        from {
                            opacity: 0;
                            padding-left: 0px;
                        }

                        to {
                            opacity: 1;
                            padding-left: 10px;

                        }
                    }
                }

            }


        }

    }
}

// Desktop, Desktop-md, Desktop-lg, Desktop-xl
@media screen and (min-width:769px) and(max-width:1920px) {


    .main-product-teaser {
        width: 100%;
        height: auto;
        background: #EEF3F4 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 3% 10%;
    }

    .product-category {

        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--rangitoto-2e2e22);
        text-align: left;
        opacity: 1;

    }

    .shop-all-products {
        float: right;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--rangitoto-2e2e22);
        text-align: left;
        opacity: 1;
    }

    .products {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        .product-details {
            margin: 5% 0px;
            width: 251px;
            height: 346px;
            opacity: 1;

            .img-div {
                width: 100%;
                height: 65%;
                text-align: center;
                background: var(--white-ffffff);

                .product-tag {
                    width: 65px;
                    height: 30px;
                    position: relative;
                    top: 10px;
                    left: 10px;
                    padding: 10px;

                    font: var(--unnamed-font-style-normal) normal 600 12px/14px var(--unnamed-font-family-proxima-nova);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--oxford-blue-354e57);
                    background: var(--alabasterr-f7f7f7) 0% 0% no-repeat padding-box;
                    opacity: 1;
                }

                img {
                    width: 65%;
                    //height: 100%;
                }
            }


        }

        .product-title {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--rangitoto-2e2e22);
            text-align: left;
            opacity: 1;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .product-description {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/16px var(--unnamed-font-family-proxima-nova);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--rangitoto-2e2e22);
            text-align: left;
            opacity: 1;
        }

        .product-price {
            font: var(--unnamed-font-style-normal) normal medium 12px/15px var(--unnamed-font-family-proxima-nova);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--rangitoto-2e2e22);
            text-align: left;
            opacity: 1;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .add-cart-button {
            width: 100%;
            height: 40px;
            border: 1px solid var(--oxford-blue-354e57);
            border: 1px solid #354E57;

            text-align: center;
            opacity: 1;
            cursor: pointer;
            background-color: transparent;

            .cart-text {
                margin: 10px;
                font: var(--unnamed-font-style-normal) normal medium 12px/15px var(--unnamed-font-family-proxima-nova);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--rangitoto-2e2e22);
            }

            &:hover {
                background-color: var(--white-ffffff);
            }

            .cart-icon::before {
                font-family: FontAwesome;
                content: "\f07a";
                font-size: 15px;
            }
        }


    }

}