
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('./desktop.css');
@import url('./aem-grid-12.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}